<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ MIT License
  ~
  ~ Copyright (c) [2021] [sky5486560@gmail.com]
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  ~ SOFTWARE.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.conifercone.uaa.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="cn.conifercone.uaa.domain.entity.SysUser">
        <!--@Table sys_user-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="account_name" jdbcType="VARCHAR" property="accountName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="removed" jdbcType="TINYINT" property="removed"/>
        <result column="tenant_id" jdbcType="BIGINT" property="tenantId"/>
        <result column="data_permissions" jdbcType="INTEGER" property="dataPermissions"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        account_name,
        password,
        real_name,
        sex,
        phone_number,
        email,
        create_by,
        create_time,
        update_by,
        update_time,
        removed,
        tenant_id,
        data_permissions
    </sql>
    <!--根据账户名查询用户-->
    <select id="queryUsersBasedOnAccountName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        <where>
            <if test="accountName != null and accountName != ''">
                account_name = #{accountName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>